html, body {
    height: 100%;
  }
  
  
* {
    font: rem/1.175 "BlinkMacSystemFont", -apple-system, "Jua", sans-seri;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

p {
    font-size: 0.95rem;
    line-height: 1.5;
    margin-top: 0.2em;
    color: #466DB9;  
    word-wrap: break-word;
    margin-left: 10px;

}

h2 {
    font-size: 1.65rem;
    font-weight: 900;
    color: darkblue;  
    word-wrap: break-word;
    margin-left: 10px;
}

h3 {
    font-size: 1rem;
    font-weight: 800;
    color: #fff;  
    word-wrap: break-word;
    margin-left: 10px;
}

h4 {
    font-size: 0.7rem;
    font-weight: 600;
    color: #2B2D2F;  
    word-wrap: break-word;
    margin-left: 10px;
}
  