html, body {
    height: 100%;
  }
  
  @font-face { 
    font-family: "Space Heavy";
    src: local("Space"), url("@/assets/fonts/A-SPACEHEAVY.otf"), 
    format("opentype");
    font-weight: bold;
  } 
  